In [1]:
import pandas as pd
import openpyxl

In [2]:
data = pd.read_csv('Share EOS Spring 2021 ANALYSIS.xlsx - RAW DATA.csv')
data

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,Student Name,...,Q17_3,Q17_4,Q17_5,Q17_6,Q30_1,Q30_2,Q30_3,Q30_4,Q30_5,Q30_6
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,StudentName,...,Contributes expertise and effort in team activ...,Contributes expertise and effort in team activ...,Contributes expertise and effort in team activ...,Contributes expertise and effort in team activ...,Respects and values other team members to brin...,Respects and values other team members to brin...,Respects and values other team members to brin...,Respects and values other team members to brin...,Respects and values other team members to brin...,Respects and values other team members to brin...
1,"{""ImportId"":""startDate"",""timeZone"":""America/Lo...","{""ImportId"":""endDate"",""timeZone"":""America/Los_...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}",NaN,...,"{""ImportId"":""QID95_3""}","{""ImportId"":""QID95_4""}","{""ImportId"":""QID95_5""}","{""ImportId"":""QID95_6""}","{""ImportId"":""QID108_1""}","{""ImportId"":""QID108_2""}","{""ImportId"":""QID108_3""}","{""ImportId"":""QID108_4""}","{""ImportId"":""QID108_5""}","{""ImportId"":""QID108_6""}"
2,5/6/21 11:32,5/6/21 11:51,0,165.227.11.194,100,1126,1,5/6/21 11:51,R_ZlwqGK7oRXFuk2B,F,...,2,2,NaN,NaN,1,2,2,2,NaN,NaN
3,5/6/21 21:06,5/6/21 21:22,0,192.31.105.188,100,938,1,5/6/21 21:22,R_3EBj9T7Yvk5B9p8,I,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
4,5/7/21 21:23,5/7/21 22:14,0,174.50.134.214,100,3072,1,5/7/21 22:14,R_3kzGFidBS7a7uMY,BP,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,5/5/21 8:10,5/5/21 8:27,0,196.190.52.186,100,1028,1,5/5/21 8:27,R_2QrrksrmMx96cHQ,AC,...,3,3,4,3,1,1,1,1,4,1
73,5/5/21 22:23,5/5/21 22:28,0,136.152.143.2,100,342,1,5/5/21 22:28,R_1eEvSPjO8lrr4qL,D,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
74,5/5/21 17:31,5/7/21 21:44,0,58.120.81.57,100,188002,1,5/7/21 21:45,R_1LcsPArzQiMPFtv,X,...,2,1,2,1,1,1,1,1,1,1
75,5/6/21 16:43,5/6/21 16:48,0,76.95.93.69,100,299,1,5/6/21 16:48,R_3NwhKneVbRULZdP,BO,...,2,2,2,2,2,2,2,2,2,2
76,5/6/21 23:52,5/6/21 23:55,0,137.25.32.190,100,176,1,5/6/21 23:55,R_CZVS5VAsYw4TRtf,AH,...,2,2,NaN,NaN,2,2,2,2,NaN,NaN

In [13]:
data['Progress'].value_counts()

100                        75
{"ImportId":"progress"}     1
Progress                    1
Name: Progress, dtype: int64

In [3]:
roster = pd.read_csv('Share EOS Spring 2021 ANALYSIS.xlsx - ROSTER.csv')
roster

,LastName,FirstName,Email,Student Name,TeamNumber,TeammateNumber,Teammate1,Teammate2,Teammate3,Teammate4,Teammate5,Teammate6
0,NaN,NaN,NaN,A,1,1,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,B,1,2,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,C,1,3,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,D,1,4,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,E,2,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
77,NaN,NaN,NaN,BZ,21,4,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,CA,22,1,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,CB,22,2,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,CD,22,3,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,CC,22,4,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
roster.isna().all()

LastName           True
FirstName          True
Email              True
Student Name      False
TeamNumber        False
TeammateNumber    False
Teammate1          True
Teammate2          True
Teammate3          True
Teammate4          True
Teammate5          True
Teammate6          True
dtype: bool