In [20]:
import pandas as pd
import openpyxl

In [21]:
data = pd.read_csv('Share EOS Spring 2021 ANALYSIS.xlsx - RAW DATA.csv')
data

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,Student Name,...,Q17_3,Q17_4,Q17_5,Q17_6,Q30_1,Q30_2,Q30_3,Q30_4,Q30_5,Q30_6
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,StudentName,...,Contributes expertise and effort in team activ...,Contributes expertise and effort in team activ...,Contributes expertise and effort in team activ...,Contributes expertise and effort in team activ...,Respects and values other team members to brin...,Respects and values other team members to brin...,Respects and values other team members to brin...,Respects and values other team members to brin...,Respects and values other team members to brin...,Respects and values other team members to brin...
1,"{""ImportId"":""startDate"",""timeZone"":""America/Lo...","{""ImportId"":""endDate"",""timeZone"":""America/Los_...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}",NaN,...,"{""ImportId"":""QID95_3""}","{""ImportId"":""QID95_4""}","{""ImportId"":""QID95_5""}","{""ImportId"":""QID95_6""}","{""ImportId"":""QID108_1""}","{""ImportId"":""QID108_2""}","{""ImportId"":""QID108_3""}","{""ImportId"":""QID108_4""}","{""ImportId"":""QID108_5""}","{""ImportId"":""QID108_6""}"
2,5/6/21 11:32,5/6/21 11:51,0,165.227.11.194,100,1126,1,5/6/21 11:51,R_ZlwqGK7oRXFuk2B,F,...,2,2,NaN,NaN,1,2,2,2,NaN,NaN
3,5/6/21 21:06,5/6/21 21:22,0,192.31.105.188,100,938,1,5/6/21 21:22,R_3EBj9T7Yvk5B9p8,I,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
4,5/7/21 21:23,5/7/21 22:14,0,174.50.134.214,100,3072,1,5/7/21 22:14,R_3kzGFidBS7a7uMY,BP,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,5/5/21 8:10,5/5/21 8:27,0,196.190.52.186,100,1028,1,5/5/21 8:27,R_2QrrksrmMx96cHQ,AC,...,3,3,4,3,1,1,1,1,4,1
73,5/5/21 22:23,5/5/21 22:28,0,136.152.143.2,100,342,1,5/5/21 22:28,R_1eEvSPjO8lrr4qL,D,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
74,5/5/21 17:31,5/7/21 21:44,0,58.120.81.57,100,188002,1,5/7/21 21:45,R_1LcsPArzQiMPFtv,X,...,2,1,2,1,1,1,1,1,1,1
75,5/6/21 16:43,5/6/21 16:48,0,76.95.93.69,100,299,1,5/6/21 16:48,R_3NwhKneVbRULZdP,BO,...,2,2,2,2,2,2,2,2,2,2
76,5/6/21 23:52,5/6/21 23:55,0,137.25.32.190,100,176,1,5/6/21 23:55,R_CZVS5VAsYw4TRtf,AH,...,2,2,NaN,NaN,2,2,2,2,NaN,NaN

In [22]:
data['Progress'].value_counts()

100                        75
Progress                    1
{"ImportId":"progress"}     1
Name: Progress, dtype: int64

In [23]:
roster = pd.read_csv('roster.csv')
roster

,LastName,FirstName,Email,Student Name,TeamNumber,TeammateNumber,Teammate1,Teammate2,Teammate3,Teammate4,Teammate5,Teammate6
0,NaN,NaN,NaN,A,1,1,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,B,1,2,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,C,1,3,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,D,1,4,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,E,2,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
77,NaN,NaN,NaN,BZ,21,4,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,CA,22,1,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,CB,22,2,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,CD,22,3,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,CC,22,4,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
roster.iloc[:,3:5]

   Student Name  TeamNumber
0             A           1
1             B           1
2             C           1
3             D           1
4             E           2
..          ...         ...
77           BZ          21
78           CA          22
79           CB          22
80           CD          22
81           CC          22

[82 rows x 2 columns]

In [24]:
roster.isna().all()

LastName           True
FirstName          True
Email              True
Student Name      False
TeamNumber        False
TeammateNumber    False
Teammate1          True
Teammate2          True
Teammate3          True
Teammate4          True
Teammate5          True
Teammate6          True
dtype: bool

Next steps:  
    *Join survey and roster datasets on “student_name” column.  
    *Truncate data based on teams.  
    *Calculate team averages.  
    *Remove the textual data, store in an additional csv. (with the joined columns)

In [25]:
cleaned = pd.read_csv('Assessment_Numerical_Cleaned.csv')
cleaned

,Student Name,Q29_1,Q29_2,Q29_3,Q33_1,Q33_2,Q33_3,Q20_1,Q20_2,Q20_3,...,Q17_3,Q17_4,Q17_5,Q17_6,Q30_1,Q30_2,Q30_3,Q30_4,Q30_5,Q30_6
0,A,1.0,1.0,1.0,1.0,1.0,1.0,25.0,25.0,25.0,...,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN
1,AA,2.0,2.0,2.0,3.0,4.0,3.0,16.0,20.0,16.0,...,3.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,AB,4.0,6.0,6.0,5.0,5.0,5.0,16.0,23.0,14.0,...,4.0,4.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,3.0
3,AC,2.0,3.0,3.0,2.0,3.0,1.0,17.0,20.0,16.0,...,3.0,3.0,4.0,3.0,1.0,1.0,1.0,1.0,4.0,1.0
4,AD,1.0,1.0,1.0,1.0,1.0,1.0,25.0,25.0,25.0,...,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,V,1.0,2.0,2.0,2.0,2.0,2.0,25.0,25.0,25.0,...,2.0,1.0,NaN,NaN,2.0,2.0,2.0,2.0,NaN,NaN
71,W,2.0,3.0,3.0,1.0,6.0,1.0,35.0,20.0,5.0,...,7.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN
72,X,2.0,2.0,2.0,2.0,2.0,2.0,95.0,100.0,90.0,...,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
73,Y,2.0,2.0,7.0,7.0,7.0,1.0,10.0,40.0,5.0,...,7.0,4.0,5.0,3.0,7.0,3.0,7.0,7.0,7.0,7.0
74,Z,1.0,1.0,1.0,1.0,1.0,1.0,17.0,18.0,17.0,...,1.0,1.0,4.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0

In [63]:
numerical = cleaned.drop('Student Name', axis = 1)
numerical

,Q29_1,Q29_2,Q29_3,Q33_1,Q33_2,Q33_3,Q20_1,Q20_2,Q20_3,Q20_4,...,Q17_3,Q17_4,Q17_5,Q17_6,Q30_1,Q30_2,Q30_3,Q30_4,Q30_5,Q30_6
0,1.0,1.0,1.0,1.0,1.0,1.0,25.0,25.0,25.0,25.0,...,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN
1,2.0,2.0,2.0,3.0,4.0,3.0,16.0,20.0,16.0,16.0,...,3.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,4.0,6.0,6.0,5.0,5.0,5.0,16.0,23.0,14.0,15.0,...,4.0,4.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,3.0
3,2.0,3.0,3.0,2.0,3.0,1.0,17.0,20.0,16.0,17.0,...,3.0,3.0,4.0,3.0,1.0,1.0,1.0,1.0,4.0,1.0
4,1.0,1.0,1.0,1.0,1.0,1.0,25.0,25.0,25.0,25.0,...,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1.0,2.0,2.0,2.0,2.0,2.0,25.0,25.0,25.0,25.0,...,2.0,1.0,NaN,NaN,2.0,2.0,2.0,2.0,NaN,NaN
71,2.0,3.0,3.0,1.0,6.0,1.0,35.0,20.0,5.0,40.0,...,7.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN
72,2.0,2.0,2.0,2.0,2.0,2.0,95.0,100.0,90.0,95.0,...,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
73,2.0,2.0,7.0,7.0,7.0,1.0,10.0,40.0,5.0,15.0,...,7.0,4.0,5.0,3.0,7.0,3.0,7.0,7.0,7.0,7.0
74,1.0,1.0,1.0,1.0,1.0,1.0,17.0,18.0,17.0,17.0,...,1.0,1.0,4.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0

In [37]:
cleaned.columns

Index(['Student Name', 'Q29_1', 'Q29_2', 'Q29_3', 'Q33_1', 'Q33_2', 'Q33_3',
       'Q20_1', 'Q20_2', 'Q20_3', 'Q20_4', 'Q20_5', 'Q20_6', 'Q15_1', 'Q15_2',
       'Q15_3', 'Q15_4', 'Q15_5', 'Q15_6', 'Q16_1.1', 'Q16_2.1', 'Q16_3.1',
       'Q16_4.1', 'Q16_5', 'Q16_6.1', 'Q17_1', 'Q17_2', 'Q17_3', 'Q17_4',
       'Q17_5', 'Q17_6', 'Q30_1', 'Q30_2', 'Q30_3', 'Q30_4', 'Q30_5', 'Q30_6'],
      dtype='object')

In [30]:
full_data = roster.iloc[:,3:6].merge(data)
full_data

,Student Name,TeamNumber,TeammateNumber,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,...,Q17_3,Q17_4,Q17_5,Q17_6,Q30_1,Q30_2,Q30_3,Q30_4,Q30_5,Q30_6
0,A,1,1,5/6/21 11:27,5/7/21 21:31,0,98.248.146.50,100,122647,1,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
1,B,1,2,5/5/21 13:22,5/7/21 19:25,0,35.129.104.235,100,194529,1,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
2,C,1,3,5/7/21 14:37,5/7/21 15:04,0,172.58.95.104,100,1650,1,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
3,D,1,4,5/5/21 22:23,5/5/21 22:28,0,136.152.143.2,100,342,1,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
4,E,2,1,5/5/21 10:04,5/5/21 10:18,0,68.96.86.135,100,845,1,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,BX,21,2,5/5/21 12:24,5/5/21 12:41,0,73.202.74.66,100,1053,1,...,4,2,NaN,NaN,2,1,4,1,NaN,NaN
71,BZ,21,4,5/5/21 10:38,5/5/21 11:22,0,184.23.167.254,100,2639,1,...,6,1,NaN,NaN,1,1,6,1,NaN,NaN
72,CA,22,1,5/6/21 10:47,5/6/21 10:53,0,71.202.90.180,100,330,1,...,2,2,NaN,NaN,2,2,2,2,NaN,NaN
73,CD,22,3,5/5/21 18:32,5/5/21 18:48,0,135.180.217.46,100,950,1,...,2,2,NaN,NaN,1,1,1,2,2,NaN
74,CC,22,4,5/5/21 10:22,5/5/21 10:43,0,174.87.192.252,100,1258,1,...,2,2,NaN,NaN,2,2,3,2,NaN,NaN

In [36]:
full_data.to_excel('full_join.xlsx')

In [54]:
full_data.iloc[:,3:].columns

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Q29_1', 'Q29_2', 'Q29_3', 'Q31',
       'Q33_1', 'Q33_2', 'Q33_3', 'Q20_1', 'Q20_2', 'Q20_3', 'Q20_4', 'Q20_5',
       'Q20_6', 'Q35', 'Q37', 'Q7', 'Q9', 'Q11', 'Q16_1', 'Q16_2', 'Q16_3',
       'Q16_4', 'Q16_6', 'Q16_7', 'Q21_1', 'Q21_2', 'Q21_3', 'Q21_4', 'Q21_6',
       'Q21_7', 'Q15_1', 'Q15_2', 'Q15_3', 'Q15_4', 'Q15_5', 'Q15_6',
       'Q16_1.1', 'Q16_2.1', 'Q16_3.1', 'Q16_4.1', 'Q16_5', 'Q16_6.1', 'Q17_1',
       'Q17_2', 'Q17_3', 'Q17_4', 'Q17_5', 'Q17_6', 'Q30_1', 'Q30_2', 'Q30_3',
       'Q30_4', 'Q30_5', 'Q30_6'],
      dtype='object')

In [59]:
full_data

,Student Name,TeamNumber,TeammateNumber,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,...,Q17_3,Q17_4,Q17_5,Q17_6,Q30_1,Q30_2,Q30_3,Q30_4,Q30_5,Q30_6
0,A,1,1,5/6/21 11:27,5/7/21 21:31,0,98.248.146.50,100,122647,1,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
1,B,1,2,5/5/21 13:22,5/7/21 19:25,0,35.129.104.235,100,194529,1,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
2,C,1,3,5/7/21 14:37,5/7/21 15:04,0,172.58.95.104,100,1650,1,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
3,D,1,4,5/5/21 22:23,5/5/21 22:28,0,136.152.143.2,100,342,1,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
4,E,2,1,5/5/21 10:04,5/5/21 10:18,0,68.96.86.135,100,845,1,...,1,1,NaN,NaN,1,1,1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,BX,21,2,5/5/21 12:24,5/5/21 12:41,0,73.202.74.66,100,1053,1,...,4,2,NaN,NaN,2,1,4,1,NaN,NaN
71,BZ,21,4,5/5/21 10:38,5/5/21 11:22,0,184.23.167.254,100,2639,1,...,6,1,NaN,NaN,1,1,6,1,NaN,NaN
72,CA,22,1,5/6/21 10:47,5/6/21 10:53,0,71.202.90.180,100,330,1,...,2,2,NaN,NaN,2,2,2,2,NaN,NaN
73,CD,22,3,5/5/21 18:32,5/5/21 18:48,0,135.180.217.46,100,950,1,...,2,2,NaN,NaN,1,1,1,2,2,NaN
74,CC,22,4,5/5/21 10:22,5/5/21 10:43,0,174.87.192.252,100,1258,1,...,2,2,NaN,NaN,2,2,3,2,NaN,NaN

In [56]:
test = full_data[full_data.iloc[].columns.difference(cleaned.columns)]
test

,DistributionChannel,Duration (in seconds),EndDate,ExternalReference,Finished,IPAddress,LocationLatitude,LocationLongitude,Progress,Q11,...,Q37,Q7,Q9,RecordedDate,ResponseId,StartDate,Status,TeamNumber,TeammateNumber,UserLanguage
0,email,122647,5/7/21 21:31,NaN,1,98.248.146.50,37.8657074,-122.2570953,100,have a better schedule for fulfilling differen...,...,better organization,procrastinating,taking initiative to carry out tasks,5/7/21 21:31,R_2f0ZsvUPeedNUT1,5/6/21 11:27,0,1,1,EN
1,email,194529,5/7/21 19:25,NaN,1,35.129.104.235,33.94490051,-117.3834,100,Early Planning,...,Early Work,Stress,Collaboration,5/7/21 19:25,R_2sSfWw9J329yNkQ,5/5/21 13:22,0,1,2,EN
2,email,1650,5/7/21 15:04,NaN,1,172.58.95.104,37.79580688,-122.4203033,100,Be okay with failing and or not finishing goal...,...,Work more collaboratively. Try not to delegate...,I would want to stop delegating. I understand ...,I would keep pushing my team to explore and ke...,5/7/21 15:04,R_3KoonFytGNulR7B,5/7/21 14:37,0,1,3,EN
3,email,342,5/5/21 22:28,NaN,1,136.152.143.2,37.87359619,-122.2570038,100,work early,...,finish early,procrastinating,finishing on time,5/5/21 22:28,R_1eEvSPjO8lrr4qL,5/5/21 22:23,0,1,4,EN
4,email,845,5/5/21 10:18,NaN,1,68.96.86.135,33.76739502,-118.3822021,100,Taking more work for myself and helping others...,...,Having a better idea of individual work and de...,Procrastinating on some things.,Keep high energy for the team and keep helping...,5/5/21 10:18,R_2PaPevsJwcfXqWL,5/5/21 10:04,0,2,1,EN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,email,1053,5/5/21 12:41,NaN,1,73.202.74.66,37.89219666,-122.2729034,100,I would start trying to make sure everyone's v...,...,I think next time I could make sure all voices...,I would stop coming into weekly discussions wi...,I would keep encouraging my teammates and bein...,5/5/21 12:41,R_11jawnLmAI587UJ,5/5/21 12:24,0,21,2,EN
71,email,2639,5/5/21 11:22,NaN,1,184.23.167.254,37.8657074,-122.2570953,100,There is nothing in particular that I would st...,...,I think my team worked well together as the wa...,There is not anything specific that I would st...,I would keep setting up zoom meetings to verba...,5/5/21 11:22,R_1ePGbGFUpCY9CJ3,5/5/21 10:38,0,21,4,EN
72,email,330,5/6/21 10:53,NaN,1,71.202.90.180,37.87669373,-122.267601,100,Delegating tasks earlier in the design cycle,...,Communicate earlier about tasks to be done.,Worrying about others' responsibilities,Finishing my own tasks ahead of schedule,5/6/21 10:53,R_1QLcfjXbAngCxD3,5/6/21 10:47,0,22,1,EN
73,email,950,5/5/21 18:48,NaN,1,135.180.217.46,37.89190674,-122.2635956,100,Actively assigning people responsibilities,...,Spend more time working together collaboratively.,Stressing about or trying to micromanage my te...,Encouraging my teammates to share and implemen...,5/5/21 18:48,R_XKPLDuT6fRz0ziV,5/5/21 18:32,0,22,3,EN
74,email,1258,5/5/21 10:43,NaN,1,174.87.192.252,38.91700745,-119.986496,100,I would be more assertive in team meetings.,...,Complete tasks earlier.,I would stop waiting on others to take initiat...,I would continue staying on top of milestones ...,5/5/21 10:43,R_w4CAy3JRXxBwbwl,5/5/21 10:22,0,22,4,EN

In [57]:
test

,DistributionChannel,Duration (in seconds),EndDate,ExternalReference,Finished,IPAddress,LocationLatitude,LocationLongitude,Progress,Q11,...,Q37,Q7,Q9,RecordedDate,ResponseId,StartDate,Status,TeamNumber,TeammateNumber,UserLanguage
0,email,122647,5/7/21 21:31,NaN,1,98.248.146.50,37.8657074,-122.2570953,100,have a better schedule for fulfilling differen...,...,better organization,procrastinating,taking initiative to carry out tasks,5/7/21 21:31,R_2f0ZsvUPeedNUT1,5/6/21 11:27,0,1,1,EN
1,email,194529,5/7/21 19:25,NaN,1,35.129.104.235,33.94490051,-117.3834,100,Early Planning,...,Early Work,Stress,Collaboration,5/7/21 19:25,R_2sSfWw9J329yNkQ,5/5/21 13:22,0,1,2,EN
2,email,1650,5/7/21 15:04,NaN,1,172.58.95.104,37.79580688,-122.4203033,100,Be okay with failing and or not finishing goal...,...,Work more collaboratively. Try not to delegate...,I would want to stop delegating. I understand ...,I would keep pushing my team to explore and ke...,5/7/21 15:04,R_3KoonFytGNulR7B,5/7/21 14:37,0,1,3,EN
3,email,342,5/5/21 22:28,NaN,1,136.152.143.2,37.87359619,-122.2570038,100,work early,...,finish early,procrastinating,finishing on time,5/5/21 22:28,R_1eEvSPjO8lrr4qL,5/5/21 22:23,0,1,4,EN
4,email,845,5/5/21 10:18,NaN,1,68.96.86.135,33.76739502,-118.3822021,100,Taking more work for myself and helping others...,...,Having a better idea of individual work and de...,Procrastinating on some things.,Keep high energy for the team and keep helping...,5/5/21 10:18,R_2PaPevsJwcfXqWL,5/5/21 10:04,0,2,1,EN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,email,1053,5/5/21 12:41,NaN,1,73.202.74.66,37.89219666,-122.2729034,100,I would start trying to make sure everyone's v...,...,I think next time I could make sure all voices...,I would stop coming into weekly discussions wi...,I would keep encouraging my teammates and bein...,5/5/21 12:41,R_11jawnLmAI587UJ,5/5/21 12:24,0,21,2,EN
71,email,2639,5/5/21 11:22,NaN,1,184.23.167.254,37.8657074,-122.2570953,100,There is nothing in particular that I would st...,...,I think my team worked well together as the wa...,There is not anything specific that I would st...,I would keep setting up zoom meetings to verba...,5/5/21 11:22,R_1ePGbGFUpCY9CJ3,5/5/21 10:38,0,21,4,EN
72,email,330,5/6/21 10:53,NaN,1,71.202.90.180,37.87669373,-122.267601,100,Delegating tasks earlier in the design cycle,...,Communicate earlier about tasks to be done.,Worrying about others' responsibilities,Finishing my own tasks ahead of schedule,5/6/21 10:53,R_1QLcfjXbAngCxD3,5/6/21 10:47,0,22,1,EN
73,email,950,5/5/21 18:48,NaN,1,135.180.217.46,37.89190674,-122.2635956,100,Actively assigning people responsibilities,...,Spend more time working together collaboratively.,Stressing about or trying to micromanage my te...,Encouraging my teammates to share and implemen...,5/5/21 18:48,R_XKPLDuT6fRz0ziV,5/5/21 18:32,0,22,3,EN
74,email,1258,5/5/21 10:43,NaN,1,174.87.192.252,38.91700745,-119.986496,100,I would be more assertive in team meetings.,...,Complete tasks earlier.,I would stop waiting on others to take initiat...,I would continue staying on top of milestones ...,5/5/21 10:43,R_w4CAy3JRXxBwbwl,5/5/21 10:22,0,22,4,EN